onnxsim
onnxconverter-common
onnxruntime
sentencepiece
soundfile
librosa
numpy==1.26
torch
torchvision
torchaudio
streamlit
google-generativeai
langgraph
sentence-transformers
scikit-learn
sounddevice